<html>
<head>


</head>
<body>
<div id="da-slider" class="da-slider">
                <div class="triangle"></div>
                <!-- mask elemet use for masking background image -->
                <div class="mask"></div>
                <div class="container">
                <div class="da-slide">
             	
             	 <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default ">
        		<div class="panel-heading">
			    		<h3 class="panel-title white">Please sign up for Connectit</h3>
			 			</div>
			 			<div class="panel-body" ng-controller="UserController as userCtrl">
			    		<form role="form" ng-submit="userCtrl.submit()"  name="userForm">
			    			<input type="hidden" ng-model="userCtrl.user.userId" />
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                <input type="text" name="first_name" id="first_name" ng-model="userCtrl.user.firstName" class="form-control input-md" placeholder="First Name">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="last_name" id="last_name" ng-model="userCtrl.user.lastName" class="form-control input-md" placeholder="Last Name">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
			    				<input type="email" name="email" id="email" ng-model="userCtrl.user.emailId" class="form-control input-md" placeholder="Email Address">
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="username" ng-model="userCtrl.user.username" id="password" class="form-control input-md" placeholder="Username">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password_confirmation" ng-model="userCtrl.user.password" id="password_confirmation" class="form-control input-md" placeholder="Password">
			    					</div>
			    				</div>
			    			</div>
			    			
			    			<div class="row">
			    				<div class="col-xs-12 col-sm-12 col-md-12">
			    					<div class="form-group">
			    						<input type="text" name="username" ng-model="userCtrl.user.qualification" id="password" class="form-control input-md" placeholder="Qualification">
			    					</div>
			    				</div>
			    			</div>
			    			
			    			<div class="form-group">
			    				<label class="col-md-2 control-lable" for="role">I am</label>
			    				 <input type="radio" name="role" ng-model="userCtrl.user.role" value="Student"/>Student
						  <input type="radio" name="role" ng-model="userCtrl.user.role" value="Alumni"/>Alumini
				   		  <input type="radio" name="role" ng-model="userCtrl.user.role" value="Employee"/>Employee
			    			</div>
			    			
			    			<input type="submit" value="Register" class="btn btn-info btn-block signup">
			    			<button type="button" ng-click="userCtrl.reset()"  class="btn btn-info btn-block signup" ng-disabled="userForm.$pristine">Reset</button>
			    		
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
             	             	
                </div>
                </div>
                
                
                </div>




</body>
</html>