<!DOCTYPE HTML>
<html lang="en">
  <head>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css" />
     <link href="chat/chatstyle.css" rel="stylesheet"></link>
  </head>
  <body>
    <div ng-controller="ChatController as ChatCtrl" class="container">
    <div ng-controller="UserController as userCtrl">
    <ul ng-repeat="u in userCtrl.users" ng-show="currentProfile.username != u.username">
<li ><a href="" ng-click="privateSending(u.username)"><span ng-bind="u.username"></span></a></li>
</ul></div>
      <form ng-submit="addMessage()" name="messageForm">
      <label>{{sendTo}}</label>
        <input type="text" placeholder="Compose a new message..." ng-model="message" />
        <div class="info">
          <span class="count" ng-bind="max - message.length" ng-class="{danger: message.length > max}">140</span>
          <button ng-disabled="message.length > max || message.length === 0">Send</button>
        </div>
      </form>
      <hr />
      <p ng-repeat="message in messages | orderBy:'time':true" class="message">
      <span ng-show="message.priv">[private] </span><strong>{{message.username}}<span ng-show="message.to"> -> {{message.to}}</span>:</strong>
        <time>{{message.time | date:'HH:mm'}}</time>
        <span ng-class="{self: message.self}">{{message.message}}</span>
      </p>
    </div>
    
    
  </body>
</html>