<!-- Modal -->
<div id="blogModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
	
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body" >
       <div id="da-slider" class="da-slider">
			<div class="triangle"></div>
                <!-- mask elemet use for masking background image -->
                <div class="mask"></div>
                	<div class="container">
                		<div class="da-slide">
        					<p>{{blogCtrl.blogview.blogId}}</p>
       					    <p>Blog Name:<h3>{{blogCtrl.blogview.blogName}}</h3></p>
        					<p><span ng-bind-html="blogCtrl.blogview.blogContent"></p>
      
      						<div ng-controller="BlogCommentController as blogCommentCtrl">
      							<form name="blogCommentForm" class="form-horizontal" ng-submit="blogCommentCtrl.submit()">
      								<input type="hidden" ng-model="blogCommentCtrl.blogComment.commentId" />
      								<div class="row">
                          				<div class="form-group col-md-12">
                              				<div class="col-md-7">
                                  				<input type="text" ng-model="blogCommentCtrl.blogComment.blogComment" id="bname" class="username form-control input-sm" placeholder="Post comment" />
                              				</div>
                          				</div>
                      				</div>
             						<div class="row">
                          			<div class="form-actions floatRight">
                              			<input type="submit"  value="post" class="btn btn-primary btn-sm">
                              			<button type="button" ng-click="blogCommentCtrl.reset()" class="btn btn-warning btn-sm" ng-disabled="blogForm.$pristine">Reset</button>
                          			</div>
                      				</div>
      							</form>
       									<div ng-controller="BlogLikeController as ctrlLike">
      									<form name="blogLikeForm" class="form-horizontal">
      										<input type="hidden" ng-model="ctrlLike.blogLike.blogLikeId" />
      		
             							<div class="row">
                          				<div class="form-actions">
                              				<a href="" class="btn btn-primary btn-sm" ng-click="ctrlLike.submit()"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                             
                          				</div>
                      				</div>
                      
      							</form>
       							<button type="button" ng-click="ctrlLike.fetchAllBlogLikes()" class="btn btn-warning btn-sm" >view Likes</button>
      							 {{likes}} Likes
      							</div>
      							<button type="button" ng-click="blogCommentCtrl.fetchAllBlogComments()" class="btn btn-warning btn-sm" >view comments</button>
      								<div class="tablecontainer" ng-controller="UserController as userCtrl">
                 						 <table class="table table-hover">
                      						<thead>
                          						<tr><th>Comments</th> </tr>
                      						</thead>
                      						<tbody>
                         					 <tr ng-repeat="r in blogCommentCtrl.blogComments">
                              				<td><span ng-bind="r.blogComment"></span><span ng-show="currentProfile.userId == r.userId"><a ng-click="blogCommentCtrl.remove(r.commentId)" >Delete</a></span>
                              
                              				</td>
                              
                          					</tr>
                      					</tbody>
                  					</table>
              					</div>
       </div>
</div></div></div></div>
      <div class="modal-footer" ng-controller="BlogCommentController as blogCommentCtrl">
        <button type="button" ng-click="blogCommentCtrl.refresh()" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
   
	      </div>
  </div>
</div>